@media (max-width: 400px) {
    body {
        overflow-x: hidden;
    }
    .nav {
        padding: 20px 38px;
    }
    h1 {
        font-size: 1.2em;
    }

    .front {
        height: 70vh;
        justify-content: center;
    }

    .headOptions li a {
        font-size: 1em;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .headLogo {
        font-size: 2em;
    }

    .tagline {
        font-size: 0.7em;
    }

    .categories h2 {
        font-size: 1em;
    }

    .explore {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .men {
        border: 7px #e9c46a solid;
        border-radius: 20px;
        width: 17em;
        height: 23em;
        position: relative;
        overflow: hidden;
    }
    
    .women {
        border: 7px #e9c46a solid;
        border-radius: 20px;
        margin-top: 1em;
        width: 17em;
        height: 23em;
        position: relative;
        overflow: hidden;
    }

    
    .cardImage {
        width: 100%;
        height: 23em;
        border-radius: 15px;
        object-fit: cover;
    }
    
    .cardBody {
        right: 0;
        background: #00000001;
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0s;
    }

    .cardHeading {
        padding: 50px 20px 0 20px;
        margin: 0;
        font-size: 2em;
        text-align: center;
    }
    
    .cardList {
        padding: 2px 20px;
        text-align: center;
    }

    .cardButton {
        margin: 2px 35%;
        border-radius: 10px;
        align-items: center;
    }

    .joinUs p {
        padding: 2% 10%;
    }
    
    .clothingAdd {
        margin: 20px;
    }

    .clothingImage {
        height: 40vh;
        object-fit: cover;
    }

    .clothingBody h3 {
        font-size: 1.2em;
        font-weight: 700;
        padding: 10px 8px;
    }

    .clothButtons {
        margin: 10px 10px;
    }

    .clothButtons button:first-child {
        padding: 10px 20px;
        border-radius: 50px;
   }
   
   .clothButtons button:last-child {
       padding: 10px 29px;
       border-radius: 50px;
   }

   .clothButtons button:first-child a {
        color: #f1faee;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1em;
    }

    .clothButtons button:last-child a {
        color: #000;
        font-weight: 700;
        letter-spacing: 0.7px;
        font-size: 1em;
    }

    .upperFooter {
        flex-wrap: wrap;
        margin: 20px;
    }

    .logoFoot ion-icon {
        font-size: 1.2em;
    }
    
    .logoFoot h5 {
        font-size: 0.6em;
    }

    .footer {
        margin: 5px;
        height: 110vh;
        flex-wrap: wrap;
    }

    .downloadApp {
        display: flex;
        flex-direction: column;
    }
}